<div class="grid-container">
  <div class="info1">
    <div class="left">
      <p *ngFor="let t of text">{{t}}</p>  
    </div>
    <div class="right">

    </div>
  </div>
  <div class="info2">
    <div class="left"></div>
    <div class="right">
      <p *ngFor="let t of text">{{t}}</p>  
    </div>
  </div>
  <div class="info3">
    <div class="left">
      <p *ngFor="let t of text">{{t}}</p>      
    </div>
    <div class="right">

    </div>
  </div>
  <div class="catalog">
    <div class="item" *ngFor="let item of products">
      <img src="{{item.Img}}" alt="img">
      <p>{{item.Name}}</p>
      <p>{{item.Price}}</p>
    </div>
  </div>
</div>